# Importing Libraries

In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.impute import SimpleImputer
from sklearn.metrics import f1_score
from sklearn.metrics import classification_report

# Importing Train Dataset

In [23]:
train_dataset = pd.read_csv("train.csv")
train_dataset

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,65438,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,1,0,49,0
1,65141,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,0,60,0
2,7513,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,0,50,0
3,2542,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,10,0,0,50,0
4,48945,Technology,region_26,Bachelor's,m,other,1,45,3.0,2,0,0,73,0
5,58896,Analytics,region_2,Bachelor's,m,sourcing,2,31,3.0,7,0,0,85,0
6,20379,Operations,region_20,Bachelor's,f,other,1,31,3.0,5,0,0,59,0
7,16290,Operations,region_34,Master's & above,m,sourcing,1,33,3.0,6,0,0,63,0
8,73202,Analytics,region_20,Bachelor's,m,other,1,28,4.0,5,0,0,83,0
9,28911,Sales & Marketing,region_1,Master's & above,m,sourcing,1,32,5.0,5,1,0,54,0
10,29934,Technology,region_23,NaN,m,sourcing,1,30,NaN,1,0,0,77,0
11,49017,Sales & Marketing,region_7,Bachelor's,f,sourcing,1,35,5.0,3,1,0,50,1
12,60051,Sales & Marketing,region_4,Bachelor's,m,sourcing,1,49,5.0,5,1,0,49,0
13,38401,Technology,region_29,Master's & above,m,other,2,39,3.0,16,0,0,80,0
14,77040,R&D,region_2,Master's & above,m,sourcing,1,37,3.0,7,0,0,84,0
15,43931,Operations,region_7,Bachelor's,m,other,1,37,1.0,10,0,0,60,0
16,7152,Technology,region_2,Bachelor's,m,other,1,38,3.0,5,1,0,77,0
17,9403,Sales & Marketing,region_31,Bachelor's,m,other,1,34,1.0,4,0,0,51,0
18,17436,Sales & Marketing,region_31,Bachelor's,m,other,1,34,5.0,8,1,0,46,0
19,54461,Operations,region_15,Bachelor's,m,other,1,37,3.0,9,0,0,59,0
20,12067,Procurement,region_14,Bachelor's,m,other,1,35,3.0,7,0,0,75,0
21,33332,Operations,region_15,NaN,m,sourcing,1,41,4.0,11,0,0,57,0
22,58789,Finance,region_11,Bachelor's,f,other,1,28,3.0,4,0,0,63,0
23,71177,Procurement,region_5,Bachelor's,m,other,1,27,NaN,1,0,0,70,0
24,52057,Finance,region_22,Master's & above,m,sourcing,2,39,5.0,7,0,0,59,0
25,26585,Technology,region_22,Bachelor's,m,other,1,27,5.0,3,1,0,83,0
26,37749,Procurement,region_26,Bachelor's,m,other,1,31,5.0,4,1,0,68,0
27,2370,Technology,region_26,Bachelor's,m,other,1,33,4.0,4,0,0,79,0
28,8219,Analytics,region_5,Bachelor's,m,other,1,29,5.0,3,1,0,80,0
29,74759,Sales & Marketing,region_4,Bachelor's,m,sourcing,1,26,NaN,1,0,0,44,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54778,30691,Procurement,region_2,Bachelor's,f,sourcing,1,30,3.0,3,0,0,70,0
54779,49923,Technology,region_30,Bachelor's,f,sourcing,1,34,3.0,3,0,0,86,0
54780,73767,Operations,region_19,Bachelor's,f,sourcing,1,39,5.0,7,0,0,60,0
54781,76497,HR,region_27,Bachelor's,f,sourcing,1,38,5.0,3,1,0,50,0
54782,17281,Operations,region_2,Below Secondary,m,sourcing,2,26,3.0,2,0,0,60,0
54783,45504,Procurement,region_2,Below Secondary,m,other,3,23,3.0,2,0,0,71,0
54784,68370,Sales & Marketing,region_30,Bachelor's,m,other,1,39,5.0,9,0,0,48,0
54785,42055,Technology,region_26,Bachelor's,m,other,1,33,4.0,7,1,0,77,0
54786,32291,Sales & Marketing,region_31,Bachelor's,f,sourcing,2,31,1.0,4,0,0,51,0
54787,77455,Technology,region_27,Bachelor's,m,sourcing,4,26,3.0,3,0,0,84,0
54788,75164,Sales & Marketing,region_13,Bachelor's,f,sourcing,2,28,3.0,3,0,0,48,0
54789,75942,Sales & Marketing,region_7,Master's & above,m,other,3,31,3.0,9,0,0,50,0
54790,67988,HR,region_2,Bachelor's,f,sourcing,1,48,5.0,4,0,0,49,0
54791,27274,Technology,region_11,Bachelor's,m,sourcing,1,32,1.0,3,1,0,82,0
54792,994,Sales & Marketing,region_14,Bachelor's,m,other,1,59,3.0,11,0,0,65,1
54793,28400,Technology,region_2,Bachelor's,m,other,1,33,1.0,9,0,0,79,0
54794,35000,Operations,region_16,Bachelor's,m,other,1,37,4.0,7,1,0,54,0
54795,13477,Procurement,region_15,Master's & above,m,other,1,35,3.0,7,0,0,70,0
54796,12592,Sales & Marketing,region_25,Master's & above,m,other,1,34,3.0,7,0,0,60,1
54797,62450,Sales & Marketing,region_11,Bachelor's,m,sourcing,1,28,5.0,3,1,1,47,0
54798,40257,Sales & Marketing,region_2,Master's & above,f,other,2,40,5.0,4,1,0,51,0
54799,68093,Procurement,region_2,Master's & above,f,other,1,50,5.0,6,1,1,67,0
54800,39227,HR,region_11,Bachelor's,m,other,2,34,5.0,3,0,0,52,0
54801,12431,Technology,region_26,Bachelor's,f,sourcing,1,31,NaN,1,0,0,78,0
54802,6915,Sales & Marketing,region_14,Bachelor's,m,other,2,31,1.0,2,0,0,49,0
54803,3030,Technology,region_14,Bachelor's,m,sourcing,1,48,3.0,17,0,0,78,0
54804,74592,Operations,region_27,Master's & above,f,other,1,37,2.0,6,0,0,56,0
54805,13918,Analytics,region_1,Bachelor's,m,other,1,27,5.0,3,1,0,79,0
54806,13614,Sales & Marketing,region_9,NaN,m,sourcing,1,29,1.0,2,0,0,45,0
54807,51526,HR,region_22,Bachelor's,m,other,1,27,1.0,5,0,0,49,0

# Data pre-processing

In [24]:
#Filling the missing data with MODE
train_dataset = train_dataset.fillna(train_dataset.mode().iloc[0])
HR_dataset = train_dataset.iloc[:,6:13].values
HR_predict = train_dataset.iloc[:,13].values
HR_predict

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

# Applying Logistic Regression

In [25]:
LogReg = LogisticRegression()
LogReg.fit(HR_dataset,HR_predict)
print (LogReg.score(HR_dataset, HR_predict))

C:\Users\Achal94\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

0.9164538023646183

# Evaluating model on Train Data

In [26]:
y_pred = LogReg.predict(HR_dataset)
print(classification_report(HR_predict,y_pred))

              precision    recall  f1-score   support

           0       0.92      1.00      0.96     50140
           1       0.59      0.06      0.11      4668

   micro avg       0.92      0.92      0.92     54808
   macro avg       0.76      0.53      0.53     54808
weighted avg       0.89      0.92      0.88     54808

# Importing Test Data

In [27]:
test_dataset = pd.read_csv('test.csv')
test_dataset

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score
0,8724,Technology,region_26,Bachelor's,m,sourcing,1,24,NaN,1,1,0,77
1,74430,HR,region_4,Bachelor's,f,other,1,31,3.0,5,0,0,51
2,72255,Sales & Marketing,region_13,Bachelor's,m,other,1,31,1.0,4,0,0,47
3,38562,Procurement,region_2,Bachelor's,f,other,3,31,2.0,9,0,0,65
4,64486,Finance,region_29,Bachelor's,m,sourcing,1,30,4.0,7,0,0,61
5,46232,Procurement,region_7,Bachelor's,m,sourcing,1,36,3.0,2,0,0,68
6,54542,Finance,region_2,Bachelor's,m,other,1,33,5.0,3,1,0,57
7,67269,Analytics,region_22,Bachelor's,m,sourcing,2,36,3.0,3,0,0,85
8,66174,Technology,region_7,Master's & above,m,other,1,51,4.0,11,0,0,75
9,76303,Technology,region_22,Bachelor's,m,sourcing,1,29,5.0,2,1,0,76
10,60245,Sales & Marketing,region_16,Bachelor's,m,sourcing,2,40,5.0,12,1,0,50
11,42639,Sales & Marketing,region_17,Master's & above,m,sourcing,1,40,3.0,10,0,0,46
12,30963,Sales & Marketing,region_4,Master's & above,f,other,1,34,3.0,4,0,0,52
13,54055,Analytics,region_24,Bachelor's,m,other,1,37,3.0,10,0,0,82
14,42996,Operations,region_11,Bachelor's,m,sourcing,1,30,5.0,6,1,0,58
15,12737,Sales & Marketing,region_7,Bachelor's,m,sourcing,1,31,4.0,4,1,0,47
16,27561,Operations,region_27,Bachelor's,f,sourcing,1,26,5.0,3,0,0,56
17,26622,Sales & Marketing,region_17,Bachelor's,m,sourcing,1,40,5.0,6,1,0,50
18,31582,Procurement,region_7,Bachelor's,f,other,1,49,3.0,7,1,0,64
19,29793,Procurement,region_27,Bachelor's,m,other,1,27,2.0,5,0,0,65
20,72735,Sales & Marketing,region_9,Master's & above,m,sourcing,1,37,5.0,3,0,0,47
21,5677,Technology,region_17,Bachelor's,m,sourcing,1,25,NaN,1,0,0,80
22,60889,Technology,region_29,Master's & above,m,sourcing,1,30,1.0,3,0,0,83
23,51498,Procurement,region_4,Master's & above,m,other,1,41,3.0,4,0,0,76
24,8566,Finance,region_20,Bachelor's,f,other,1,29,4.0,6,1,0,58
25,53151,Operations,region_20,Bachelor's,m,other,1,33,3.0,7,1,1,62
26,16203,Sales & Marketing,region_17,Master's & above,m,sourcing,1,34,4.0,6,1,0,50
27,61083,Analytics,region_13,Bachelor's,m,sourcing,1,34,3.0,3,1,0,87
28,74849,Operations,region_22,Bachelor's,m,other,1,52,1.0,10,0,0,61
29,13259,Sales & Marketing,region_34,Bachelor's,m,sourcing,1,30,2.0,3,0,0,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...
23460,72190,Operations,region_32,Bachelor's,f,other,1,31,4.0,7,1,0,65
23461,27155,Sales & Marketing,region_22,Bachelor's,f,other,2,27,4.0,4,0,0,48
23462,15959,Analytics,region_31,Bachelor's,m,other,1,36,5.0,7,1,0,86
23463,72900,Analytics,region_21,Bachelor's,m,other,1,30,3.0,3,1,0,87
23464,57683,Analytics,region_2,Bachelor's,m,sourcing,2,25,1.0,2,1,0,83
23465,55174,Technology,region_7,Bachelor's,f,sourcing,1,24,4.0,2,0,0,85
23466,51115,Technology,region_2,Master's & above,f,other,1,40,4.0,10,0,0,76
23467,50134,Technology,region_2,Bachelor's,m,referred,2,28,4.0,6,1,0,79
23468,59775,Sales & Marketing,region_2,Bachelor's,m,other,1,32,2.0,6,1,0,49
23469,14408,Procurement,region_26,Bachelor's,f,other,1,30,1.0,1,0,0,69
23470,4351,Sales & Marketing,region_30,Bachelor's,m,sourcing,1,36,5.0,3,0,0,49
23471,59625,Procurement,region_13,Master's & above,m,sourcing,1,40,4.0,9,1,0,69
23472,29379,Technology,region_6,Bachelor's,f,other,1,29,3.0,3,0,0,87
23473,67979,Operations,region_25,Master's & above,m,sourcing,1,38,3.0,8,0,0,57
23474,61451,Operations,region_7,Master's & above,f,other,2,43,3.0,3,0,0,61
23475,73871,Legal,region_27,Bachelor's,f,sourcing,1,28,3.0,2,0,0,61
23476,52090,Sales & Marketing,region_2,Master's & above,f,other,1,51,4.0,8,0,0,50
23477,18488,Procurement,region_2,Bachelor's,m,sourcing,3,28,4.0,6,0,0,68
23478,59673,Procurement,region_17,Bachelor's,f,sourcing,1,27,4.0,3,1,0,69
23479,39410,Sales & Marketing,region_2,Bachelor's,m,other,3,20,NaN,1,0,0,49
23480,11837,Operations,region_33,Bachelor's,f,sourcing,1,29,5.0,6,1,0,60
23481,78278,Operations,region_22,Master's & above,m,other,2,40,5.0,3,1,0,60
23482,27284,Sales & Marketing,region_2,NaN,m,sourcing,2,44,4.0,4,0,0,49
23483,49291,Sales & Marketing,region_30,Bachelor's,m,other,1,34,3.0,5,0,0,49
23484,47537,Sales & Marketing,region_20,Bachelor's,m,other,1,28,4.0,2,0,0,51
23485,53478,Legal,region_2,Below Secondary,m,sourcing,1,24,3.0,1,0,0,61
23486,25600,Technology,region_25,Bachelor's,m,sourcing,1,31,3.0,7,0,0,74
23487,45409,HR,region_16,Bachelor's,f,sourcing,1,26,4.0,4,0,0,50
23488,1186,Procurement,region_31,Bachelor's,m,sourcing,3,27,NaN,1,0,0,70
23489,5973,Technology,region_17,Master's & above,m,other,3,40,5.0,5,1,0,89

In [28]:
test_dataset = test_dataset.fillna(test_dataset.mode().iloc[0])
HR_dataset = test_dataset.iloc[:,6:13].values
HR_dataset

array([[ 1., 24.,  3., ...,  1.,  0., 77.],
       [ 1., 31.,  3., ...,  0.,  0., 51.],
       [ 1., 31.,  1., ...,  0.,  0., 47.],
       ...,
       [ 1., 26.,  4., ...,  0.,  0., 50.],
       [ 3., 27.,  3., ...,  0.,  0., 70.],
       [ 3., 40.,  5., ...,  1.,  0., 89.]])

In [29]:
print(len(HR_dataset))

23490

In [30]:
test_pred = LogReg.predict(HR_dataset)
test_pred

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

# Importing Sample Submission

In [31]:
sample_dataset= pd.read_csv("sample_submission_M0L0uXE.csv")

In [32]:
y_true=sample_dataset.iloc[:,1].values
y_true

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

# Calculating F1 score

In [34]:
f1_score(y_true,test_pred,average='weighted')

C:\Users\Achal94\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1145: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 in labels with no true samples.
  'recall', 'true', average, warn_for)

0.9955958438448711